<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SvProduto</servlet-name>
        <servlet-class>control.SvProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvCliente</servlet-name>
        <servlet-class>control.SvCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvAdmin</servlet-name>
        <servlet-class>control.SvAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvInfoPedido</servlet-name>
        <servlet-class>control.SvInfoPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPedido</servlet-name>
        <servlet-class>control.SvPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvProduto</servlet-name>
        <url-pattern>/SvProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvCliente</servlet-name>
        <url-pattern>/SvCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvAdmin</servlet-name>
        <url-pattern>/SvAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvInfoPedido</servlet-name>
        <url-pattern>/SvInfoPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPedido</servlet-name>
        <url-pattern>/SvPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
